<template>
  <section class="bg-[#3FA3FF] flex flex-col items-center lg:items-start lg:flex-row py-4 md:px-16 px-4 md:py-10 justify-center md:justify-normal">
    <div class="lg:flex lg:flex-col w-2/6 hidden">
      <img src="../../assets/images/team-introduction.svg" alt="team-introduction-figure" width="500">
      <div class="flex justify-center gap-3 items-center text-2xl bg-white px-4 text-[#232323] rounded-lg py-3 text-center font-bold -rotate-12 -mt-28">
        <img src="../../assets/icons/shuriken.svg" alt="shuriken" class="md:w-[30px] md:h-[30px]">
        <p>Meet Our Team</p>
        <img src="../../assets/icons/shuriken.svg" alt="shuriken" class="md:w-[30px] md:h-[30px]">
      </div>
    </div>
    <h2 class="lg:hidden text-white text-xl font-medium mb-4">
      Meet Our Team
    </h2>
    <div class="flex lg:flex-row-reverse flex-wrap justify-center lg:justify-normal gap-4 w-full lg:w-4/6">
      <div class="flex flex-col rounded-lg items-center">
        <img src="../../assets/images/ihsan.png" alt="" class="rounded-lg w-[90px] md:w-[175px]">
        <div class="flex flex-col w-fit bg-[#883FFF] px-2 py-1 md:px-4 md:py-2 rounded-lg md:rounded-2xl text-white font-days-one text-xs md:text-xl items-center -mt-4 md:-mt-8 -rotate-6">
          <img src="../../assets/icons/hacker.svg" alt="" class="rotate-[6deg] w-[50px] md:w-[100px]">
          <p>HACKER</p>
        </div>
      </div>
      <div class="flex flex-col rounded-lg items-center">
        <img src="../../assets/images/fajar.png" alt="" class="rounded-lg w-[90px] md:w-[175px]">
        <div class="flex flex-col w-fit bg-[#883FFF] px-2 py-1 md:px-4 md:py-2 rounded-lg md:rounded-2xl text-white text-xs md:text-xl items-center -mt-4 md:-mt-8 -rotate-6">
          <img src="../../assets/icons/hacker.svg" alt="" class="rotate-[6deg] w-[50px] md:w-[100px]">
          <p>HACKER</p>
        </div>
      </div>
      <div class="flex flex-col rounded-lg items-center">
        <img src="../../assets/images/irsyad.png" alt="" class="rounded-lg w-[90px] md:w-[175px]">
        <div class="flex flex-col w-fit bg-[#E7197C] px-2 py-1 md:px-4 md:py-2 rounded-lg md:rounded-2xl text-white text-xs md:text-xl items-center -mt-4 md:-mt-8 -rotate-6">
          <img src="../../assets/icons/hustler.svg" alt="" class="rotate-[6deg] w-[50px] md:w-[90px]">
          <p>HUSTLER</p>
        </div>
      </div>
      <div class="flex flex-col rounded-lg items-center">
        <img src="../../assets/images/amanda.png" alt="" class="rounded-lg w-[90px] md:w-[175px]">
        <div class="flex flex-col w-fit bg-[#E7197C] px-2 py-1 md:px-4 md:py-2 rounded-lg md:rounded-2xl text-white text-xs md:text-xl items-center -mt-4 md:-mt-8 -rotate-6">
          <img src="../../assets/icons/hustler.svg" alt="" class="rotate-[6deg] w-[50px] md:w-[90px]">
          <p>HUSTLER</p>
        </div>
      </div>
      <div class="flex flex-col rounded-lg items-center">
        <img src="../../assets/images/fabio.png" alt="" class="rounded-lg w-[90px] md:w-[175px]">
        <div class="flex flex-col w-fit bg-[#1DD39D] px-2 py-1 md:px-4 md:py-2 rounded-lg md:rounded-2xl text-white text-xs md:text-xl items-center -mt-4 md:-mt-8 -rotate-6">
          <img src="../../assets/icons/hipster.svg" alt="" class="rotate-[6deg] w-[50px] md:w-[100px]">
          <p>HIPSTER</p>
        </div>
      </div>
      <div class="flex flex-col rounded-lg items-center">
        <img src="../../assets/images/via.png" alt="" class="rounded-lg w-[90px] md:w-[175px]">
        <div class="flex flex-col w-fit bg-[#1DD39D] px-2 py-1 md:px-4 md:py-2 rounded-lg md:rounded-2xl text-white text-xs md:text-xl items-center -mt-4 md:-mt-8 -rotate-6">
          <img src="../../assets/icons/hipster.svg" alt="" class="rotate-[6deg] w-[50px] md:w-[100px]">
          <p>HIPSTER</p>
        </div>
      </div>
      <div class="flex flex-col rounded-lg items-center">
        <img src="../../assets/images/rizki.png" alt="" class="rounded-lg w-[90px] md:w-[175px]">
        <div class="flex flex-col w-fit bg-[#1DD39D] px-2 py-1 md:px-4 md:py-2 rounded-lg md:rounded-2xl text-white text-xs md:text-xl items-center -mt-4 md:-mt-8 -rotate-6">
          <img src="../../assets/icons/hipster.svg" alt="" class="rotate-[6deg] w-[50px] md:w-[100px]">
          <p>HIPSTER</p>
        </div>
      </div>
    </div>
  </section>
</template>
