<template>
  <div class="max-h-[60px] navbar bg-white text-[#232323] px-4 md:px-8 flex justify-between font-medium">
    <img src="../../assets/iMoni.svg" alt="iMoni Logo" class="h-[25px] w-[40px]">
    <ul class="text-sm md:text-base font-medium flex gap-2 md:gap-7">
      <li>
        <nuxt-link to="/" class="p-2">
          Home
        </nuxt-link>
      </li>
      <li>
        <nuxt-link to="/#wsatsa" class="p-2">
          About
        </nuxt-link>
      </li>
      <li>
        <nuxt-link to="/#feature" class="p-2">
          Feature
        </nuxt-link>
      </li>
    </ul>
    <button class="bg-[#3FA3FF] hidden md:block text-white border-none rounded-xl px-4 py-[10px] text-sm w-[113px] h-[40px]">
      Get Started
    </button>
  </div>
</template>
