<template>
  <section class="md:h-screen bg-white md:bg-[url('/hero-background.svg')] md:bg-right-bottom md:bg-no-repeat md:bg-[length:600px_400px] lg:bg-[length:800px_500px] flex flex-col px-4 pt-20 py-4 lg:pt-28 md:pl-14 w-full">
    <div class="text-start md:w-4/6">
      <h1 class="text-2xl md:text-5xl lg:text-6xl font-bold text-black md:leading-[75px] lg:leading-[80px]">
        Track <span class="text-white rotate-45 bg-[#FF6B00] px-2 md:py-2 md:px-5 text-md md:text-4xl rounded-full">&</span> monitor your services effortlessly for
        <span class="px-1 md:px-3 text-white bg-[#1DD39D] rounded-xl">
          uninterrupted
        </span>
        connectivity.
      </h1>
    </div>
    <button class="bg-[#3FA3FF] text-white border-none rounded-lg md:rounded-xl px-2 py-1 md:px-4 md:py-3 w-fit text-md md:text-xl mt-2 md:mt-9 flex items-center">
      Let's started
      <img src="../../assets/icons/arrow.svg" alt="arrow icon" class="ml-2" width="30">
    </button>
  </section>
</template>