<template>
  <section id="feature" class="flex flex-col bg-white items-center text-[#232323] py-4 lg:px-36 px-4 md:py-10">
    <div class="flex mb-3 md:mb-10 gap-3 items-center">
      <img src="../../assets/icons/shuriken.svg" alt="shuriken" class="w-[25px] h-[25px] md:w-[43px] md:h-[43px]">
      <h2 class="text-2xl md:text-5xl font-medium">
        Feature
      </h2>
      <img src="../../assets/icons/shuriken.svg" alt="shuriken" class="w-[25px] h-[25px] md:w-[43px] md:h-[43px]">
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="flex flex-row justify-between bg-[#BBE1FF] rounded-lg p-4 md:p-8">
        <h3 class="text-xl md:text-2xl w-1/2">
          Real Time Data Asset
        </h3>
        <img src="../../assets/images/real-time-data-asset.svg" alt="real time data asset figure" class="w-[90px] md:w-[150px]">
      </div>
      <div class="flex flex-row justify-between bg-[#BBE1FF] rounded-lg p-4 md:p-8">
        <h3 class="text-xl md:text-2xl w-1/2">
          Real Time Revenue & SSL Monitoring
        </h3>
        <img src="../../assets/images/real-time-revenue.svg" alt="real time data asset figure" class="w-[90px] md:w-[150px]">
      </div>
      <div class="flex flex-row justify-between bg-[#BBE1FF] rounded-lg p-4 md:p-8">
        <h3 class="text-xl md:text-2xl w-1/2">
          Management & Monitoring Fulfillment Process
        </h3>
        <img src="../../assets/images/management-monitoring-fulfillment.svg" alt="real time data asset figure" class="w-[90px] md:w-[150px]">
      </div>
      <div class="flex flex-row justify-between bg-[#BBE1FF] rounded-lg p-4 md:p-8">
        <h3 class="text-xl md:text-2xl w-1/2">
          Monitoring Ticket Status
        </h3>
        <img src="../../assets/images/monitoring-ticket-status.svg" alt="real time data asset figure" class="w-[90px] md:w-[150px]">
      </div>
    </div>
  </section>
</template>
