<template>
  <section id="wsatsa" class="bg-[#3FA3FF] flex flex-col md:flex-row gap-4 py-4 lg:px-36 px-4 md:py-10">
    <div class="md:h-[481px] rounded-md md:rounded-xl p-4 md:p-8 md:w-[381px] bg-[#158FFF] bg-[url('/raise-hand.svg')] bg-right-bottom bg-no-repeat bg-[length:60px_120px] md:bg-[length:150px_400px] flex flex-col justify-between">
      <p class="text-2xl md:text-6xl text-white font-extrabold md:w-full">
        WHAT IS WSA-TSA <span class="bg-[#FF5959] px-3 md:px-6 rounded-full">?</span>
      </p>
      <button class="text-xs md:text-base mt-3 md:mt-0 text-[#3FA3FF] bg-white rounded-md md:rounded-lg w-fit px-2 md:px-3 py-1 md:py-2 font-medium">
        Download SOP WSA-TSA
      </button>
    </div>
    <div class="md:h-[481px] rounded-md md:rounded-xl p-4 md:p-8 md:w-[381px] bg-white flex flex-col justify-end gap-1 md:gap-3 md:pb-20 bg-[url('/wholesale-agreement.png')] bg-right-top bg-no-repeat bg-[length:180px_100px] md:bg-[length:280px_170px]">
      <img src="../../assets/icons/cart.svg" alt="cart" class="w-9 h-9 md:w-[62px] md:h-[62px]">
      <p class="text-lg md:text-2xl font-bold text-[#232323]">
        Wholesale Agreement (WSA)
      </p>
      <p class="text-sm md:text-base text-[#232323]">
        <span class="font-bold">WSA</span> is a contract between a supplier and customer that outlines their business relationship's rights and obligations.
      </p>
    </div>
    <div class="md:h-[481px] rounded-md md:rounded-xl p-4 md:p-8 md:w-[381px] bg-white flex flex-col justify-end gap-1 md:gap-3 md:pb-20 bg-[url('/transition-agreement.png')] bg-right-top bg-no-repeat bg-[length:180px_100px] md:bg-[length:280px_170px]">
      <img src="../../assets/icons/setting.svg" alt="setting" class="w-9 h-9 md:w-[62px] md:h-[62px]">
      <p class="text-lg md:text-2xl font-bold text-[#232323]">
        Transition Service Agreement (TSA)
      </p>
      <p class="text-sm md:text-base text-[#232323]">
        <span class="font-bold">TSA</span> is an agreement between buyer and company that provides post-divestiture services.
      </p>
    </div>
  </section>
</template>
