<template>
  <section class="flex flex-col bg-white items-center text-[#232323] py-4 lg:px-36 px-4 md:py-10">
    <div class="flex mb-3 md:mb-10 gap-3 items-center">
      <img src="../../assets/icons/shuriken.svg" alt="shuriken" class="w-[25px] h-[25px] md:w-[43px] md:h-[43px]">
      <h2 class="text-xl md:text-5xl font-medium text-center">
        Joint Planning Program
      </h2>
      <img src="../../assets/icons/shuriken.svg" alt="shuriken" class="w-[25px] h-[25px] md:w-[43px] md:h-[43px]">
    </div>
    <p class="text-lg md:text-2xl mb-8 text-justify">
      Joint Planning Program (JPP) meeting was held to discuss the finalization of BAUT with the output in the form of a revenue calculation that must be paid by TSEL to TLKM. Fulfillment and ticket issue details will be resolved through JPP. 
    </p>
    <img src="../../assets/images/jpp-graph.png" alt="jpp graph">
  </section>
</template>
