<template>
  <section id="footer" class="flex flex-col items-center bg-[#393939] text-white px-5 lg:px-40 py-2 md:py-5">
    <div class="flex gap-3 mb-3 items-center">
      <img src="../../assets/icons/shuriken-white.svg" alt="shuriken" class="w-4 h-4 md:w-[30px] md:h-[30px]">
        <h2 class="text-lg md:text-3xl font-medium">
          Contact Us
        </h2>
      <img src="../../assets/icons/shuriken-white.svg" alt="shuriken" class="w-4 h-4 md:w-[30px] md:h-[30px]">
    </div>
    <div class="flex flex-col-reverse md:flex-row w-full justify-between pb-5 gap-3 md:gap-0">
      <div class="flex flex-col gap-3 md:gap-7 justify-between text-sm md:text-base">
        <p>
          Telkom Corporate University <br>
          Jl. Gegerkalong Hilir, Jawa Barat.
        </p>
        <p>
          iMoni@telkom.com <br>
          +62-8123-456-7890
        </p>
        <img src="../../assets/icons/footer.svg" alt="footer logo" class="w-[100px] md:w-[150px]">
      </div>
      <div class="md:w-1/2 self-end">
        <p class="font-medium">
          7 Icons
        </p>
        <p class="text-sm md:text-base text-justify">
          How can we establish a post-FMC WSA TSA (Telkom-Telkomsel) business process that will be 100% operational in the next three months?
        </p>
      </div>
    </div>
    <div class="flex flex-col md:flex-row md:justify-center w-full leading-6 pt-4 gap-4 border-t border-[#EEEEEE]">
      <p class="text-xs text-center md:text-start md:text-base font-medium">
        ©2023 PT Telkom Indonesia Tbk. All right reserved.
      </p>
    </div>
  </section>
</template>
