<template>
  <section class="bg-white flex flex-col md:flex-row gap-8 px-4 lg:px-36 py-4 md:py-10">
    <div class="w-full min-h-[200px] sm:min-h-[300px] md:w-[641px] lg:h-[361px] relative left-0">
      <iframe
        src="https://www.figma.com/embed?type=design&url=https%3A%2F%2Fwww.figma.com%2Ffile%2F03rnoKYwtDaRRw5P3tWaGg%2FInnovation-Class%3Ftype%3Ddesign&embed_host=iframely"
        style="top: 0; left: 0; width: 100%; height: 100%; position: absolute; border: 0;"
        allowfullscreen
      />
    </div>
    <div class="flex flex-col gap-1 md:gap-3 md:w-1/2">
      <h2 class="text-xl md:text-4xl text-[#232323] font-medium">
        Product Overview
      </h2>
      <p class="text-sm md:text-base text-justify">
        &nbsp;&nbsp;&nbsp;&nbsp;Our product solves several common challenges that customer face. It helps measure SSL targets, monitors fulfillment processes, ensures data asset synchronization, and facilitates ticket issue management. We've designed a user-friendly and efficient platform to address these issues. <br><br>

        &nbsp;&nbsp;&nbsp;&nbsp;With our product, these challenges are no longer a concern, allowing customers to concentrate on their main goals while we handle the rest.
      </p>
    </div>
  </section>
</template>
